In [14]:
import pandas as pd

In [3]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [4]:
high_schools

['Hernandez High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [6]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [13]:
for school in high_school_types:
    print (f'High School: {school["High School"]}, Type: {school["Type"]}')

High School: Griffin, Type: District
High School: Figueroa, Type: District
High School: Wilson, Type: Charter
High School: Wright, Type: Charter

In [15]:
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [16]:
import pandas as pd

In [18]:
school_series=pd.Series(high_schools)

In [19]:
School_series=pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [21]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [22]:
school_df = pd.DataFrame(high_school_dicts)

In [23]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [28]:
schools_df = pd.DataFrame(school_name)

In [29]:
schools_df["School_ID"]=school_id

In [30]:
print(schools_df)

                       0  School_ID
0      Huang High School          0
1   Figueroa High School          1
2    Shelton High School          2
3  Hernandez High School          3
4    Griffin High School          4

In [34]:
schools_df["School Name"]=school_name

In [35]:
schools_df["Type"]=type

In [36]:
print (schools_df)

                       0  School_ID            school_name  \
0      Huang High School          0      Huang High School
1   Figueroa High School          1   Figueroa High School
2    Shelton High School          2    Shelton High School
3  Hernandez High School          3  Hernandez High School
4    Griffin High School          4    Griffin High School

             School Name            Type
0      Huang High School  <class 'type'>
1   Figueroa High School  <class 'type'>
2    Shelton High School  <class 'type'>
3  Hernandez High School  <class 'type'>
4    Griffin High School  <class 'type'>

In [37]:
high_schools_dict2={'School ID': school_id,'school_name':school_name, 'type':type_of_school}

In [38]:
print (high_schools_dict2)

{'School ID': [0, 1, 2, 3, 4], 'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [39]:
schools_df2= pd.DataFrame(high_schools_dict2)

In [40]:
print(schools_df2)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [42]:
schools_df.columns

Index([0, 'School_ID', 'school_name', 'School Name', 'Type'], dtype='object')

In [43]:
schools_df2.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [44]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [46]:
schools_df2.index

RangeIndex(start=0, stop=5, step=1)

In [47]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [48]:
schools_df2.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)